<form action="/create_station" method="post">
  <label for="dock_name">Dock Name:</label>
  <input type="text" name="dock_name" />

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" />

  <input type="submit" name="submit" value="Submit" />
</form>
