<html>
  <head>
  </head>
  <body>
    <div id="station">Welcome to <%= @bs.dock_name %></div>

    <div id="bike">
      Would you like to release a bike?
      <form action="/release_bike" method='get'>
        <input type="submit" value="Release Bike">
      </form>
    <div>
  </body>
</html
