<html>
  <head>
  </head>
  <body>
    <ul id="stations">
      <% @docking_stations.each do |docking_station| %>
        <li>
          <a href="http://localhost:4567/station/<%=docking_station.dock_name%>"><%= docking_station.dock_name %></a>
        </li>
      <% end %>
    </ul>
  </body>
</html
